<ul>
  <li><a href="/posts.xml">RSS</a> (Spec: <a href="http://microblog.reallysimple.org/">RSS 2.0 Microblog Namespace</a>)</li>
  <li><a href="/posts.json">JSON</a> (Spec: <a href="http://rssjs.org">rss.js</a>)</li>
</ul>
