<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BrandyWine</title>
    <link href="bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="application.css" type="text/css" rel="stylesheet" />
    <script src="bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="/">BrandyWine</a>
          <ul class="nav">
            <li class="<%= "active" if request.path_info == '/' %>"><a href="/">Home</a></li>
            <li class="<%= "active" if request.path_info == '/posts' %>"><a href="/posts">Twitter River</a></li>
          </ul>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
