<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BrandyWine</title>
    <link href="bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script src="bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">BrandyWine</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Twitter River</a></li>
          </ul>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
