<div class="login">
  <form action="/login" method="post">
    <h2>Please sign in</h2>
    <input class="input-block-level" placeholder="Email address" type="text" name="email">
    <input class="input-block-level" placeholder="Password" type="password" name="password">
    </label>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>
</div>
