<div class="river">
  <ul>
  <li class="river-header group">
    <div class="icon"><img src="icon.png" width="80px" height="80px" /></div>
    <div class="content">
      <h1>Cory Kaufman-Schofield</h1>
      <h2>Writer / Web Developer &mdash; Ann Arbor, MI</h2>
      <h3><a href="http://corykaufman.com">http://corykaufman.com</a></h3>
    </div>
  </li>
  <% @posts.each do |post| %>
    <li>
      <div class="post-text"><%= post.text %></div>
      <div class="post-info"><i class="icon icon-time"></i><a href="3"><%= post.posted_at.strftime('%A, %B %-d &mdash; %-I:%M%P') if post.posted_at? %></a></a></div>
    </li>
  <% end %>
  </ul>
</div>
